// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Figma colors
$body-color: rgb(5,40,80);
$body-gradient: linear-gradient(180deg,rgba(237,238,240,0.195), rgba(2,21,43,0));
$navbar-gradient: linear-gradient(90deg, rgba(38,160,176,0.85), rgba(51,174,191,0.21));
$bubble: rgba(196, 196, 196, 0.1);

// Navbar buttons
$darkbtn: linear-gradient(135deg, rgba(2, 21, 43, 0.6976),rgba(2, 21, 43, 0.3273));
$lightbtn: linear-gradient(90deg, rgba(53, 176, 193, 0.3581),rgba(58, 182, 198, 0.1977));