h1, h2 {
  color:white;
}

.dashboard-all {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// Top bubble info

#no-spots {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 480px;
  h2 {
    opacity: 50%;
  }
}

.top-bubble-lg {
  background-color: $bubble;
  display: flex;
  border-radius: 26px;
  margin-bottom: 20px;
  min-width: 1100px;
  height: 220px;
  justify-content: space-around;
  align-items: center;
  color: white;
}

#temp-degrees {
  display: flex;
  position: relative;
}

#temp {
  font-size: 144px;
}

#degrees {
  font-size: 48px;
  position: absolute;
  top: 8px;
  right: -54px;
}

#icon-desc {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

#weather-icon {
  height: 144px;
}

#desc {
  position: absolute;
  bottom: -16px;
  right: -40px;
  font-size: 20px
}

#date-location {
  text-align: center;
}

#month {
  font-size: 80px;
  margin: 0px;
}

#weekday {
  font-size: 20px;
  margin: 0px;
}

#city {
  font-size: 20px;
  margin: 0px;
}

// Middle block containing the preferences and spots dropdowns/buttons

.preference-spot-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  // justify-content: space-between;

  select option {
    color: black;
  }
}

#preference {
  background-color: $bubble;
  color: white;
  border: none;
  width: 191px;
  height: 48px;
  border-radius: 30px;
  padding-left: 14px;
  margin-right: 10px;
  &:focus-visible {
    outline: none !important;
  }
}

#spot {
  background-color: $bubble;
  color: white;
  border: none;
  width: 191px;
  height: 48px;
  border-radius: 30px;
  margin-left: 228px;
  margin-right: 10px;
  padding-left: 14px;
  &:focus-visible {
    outline: none !important;
  }
}

// Weekly schedule with days

#weekly-schedule {
  display: flex;
  margin: 0 0 20px;
  min-width: 1100px;
  height: 160px;
  justify-content: space-between;
}


.day {
  background-color: $bubble;
  min-width: 150px;
  min-height: 150px;
  border-radius: 26px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // padding: 8px;
  &:hover {
    background-color: $bubble-hover;
  }
}

.active-day {
  background-color: $bubble-hover;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.day-link {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.weekday-name {
  font-size: 20px;
}

.month-name {
  font-size: 16px;
}

.go-light {
  width: 75%;
  height: 32px;
  margin: 0 auto;
  border-radius: 26px;
}

.on {
  background-color: rgba(30, 221, 136, 0.7);
  box-shadow: 0 0px 4px $green;
}

.off {
  background-color: $bubble;
}
// Bottom block

.bottom-block {
  display: flex;
  justify-content: space-between;
}

.current-day {
  background-color: $bubble;
  min-width: 372px;
  height: 300px;
  border-radius: 26px;
  margin-top: 20px;
}

.preferences-overview {
  // margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 280px;
  margin-right: 20px;
  p {
    margin: 0;
    font-size: 14px;
  }
}

.preference {
  display: flex;
  min-width: 280px;
  background-color: $bubble;
  border-radius: 26px;
  // margin-left: 30px;
  // margin-right: 30px;
  // margin-top: 8px;
  justify-content: space-between;
  padding: 0 32px;
}

.wave-pref-block {
  margin-bottom: 13px;
}

.wave-pref-block > p {
  margin-top: 6px;
}

.wind-pref-block {
  margin-bottom: 14px;
}

.wind-pref-block > p {
  margin-top: 6px;
}

.tide-pref-block p {
  margin-top: 4px;
}

.time-schedule {
  display: flex;
  min-width: 570px;
  flex-grow: 1;
  height: 280px;
  background-color: $bubble;
  border-radius: 26px;
  // margin-top: 20px;
  justify-content: space-around;
  p {
    margin: 0;
    font-size: 14px;
  }
}

.time-period {
  margin: 8px 0px;
  border-radius: 16px;
  background-color: $bubble;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 4px;
  min-width: 80px;
}

.go {
  background-color: rgba(30, 221, 136, 0.7);
}

.condition {
  color: white;
}

.time {
  height: 32px;
  // background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.preference.time {
  height: 40px;
  background-color: $bubble-hover;
  p {
    padding-top: 8px;
  }
}

.wave {
  height: 96px;
  // background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  justify-content: space-around;
}

.pref-summary-wave {
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

.wind {
  height: 64px;
  // background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  justify-content: space-around;
}

.pref-summary-wind {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

.tide {
  height: 32px;
  // background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.pref-summary-tide {
  height: 40px;
  text-align: right;
}
