<div class="bottom-block">

  <div class="current-day"></div>
  <div class="preferences-overview">
  <h4>Preference</h4>
    <div class="preference"></div>
    <div class="preference"></div>
    <div class="preference"></div>
  </div>
  
  <div class="time-schedule"></div>

</div>