<div class="top-bubble-lg">
    <%# display flex %>
    <h2 id="temp"></h2>
    <div>
      <p id="desc"></p>
      <img id="weather-icon" src="" alt="weather-icon">
    </div>
    <div>
      <p data-date-today="<%= DateTime.now.strftime("%A, %b %e") %>" id="date"></p>
      <p data-location="<%= current_user.location %>" id="city"></p>
    </div>
</div>
