<div class="top-bubble-lg">
    <%# display flex %>
    <h2>27</h2>
    <div>
      <p>clear sky</p>
    </div>
    <div>
      <p>today</p>
     <p>friday, 28 May</p>
      <p>Miami, Florida</p>
    </div>
</div>