<div id="home">

  <h1>Homepage</h1>

  <div id="exemple">
    exemple
  </div>

  <div class="bubbles">
    <div class="home-bubble">test</div>
    <div class="home-bubble">test</div>
    <div class="home-bubble">test</div>
  </div>

</div>
