<div id="home">

  <h1>Homepage</h1>

  <div id="banner">
    <div id="video">Video</div>
    <div id="exemple">Exemple</div>
  </div>

  <div class="bubbles">
    <div class="home-bubble">test</div>
    <div class="home-bubble">test</div>
    <div class="home-bubble">test</div>
  </div>

  <div id="get-started">
    <%= link_to "Get Started", new_user_registration_path, class: "body-btn light-btn" %>
  </div>

</div>
