<div id="home">

  <div id="banner">
    <div class="video-background">
      <div class="video-foreground">
      
        <iframe src="https://www.youtube.com/embed/axK-ieZp1vo?rel=0;&autoplay=1&mute=1&loop=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="viewport-header">
    <h1>Find your right conditions</br>
    <span>allWaves</span></h1>
  </div>
  <div id="get-started">
    <%= link_to "Get Started", new_user_registration_path, class: "body-btn light-btn" %>
  </div>

</div>
