
  <div class="current-day"></div>
  <div class="preferences-overview">
  <h4><%= day.preference.name %></h4>
    <div class="preference"></div>
    <div class="preference"></div>
    <div class="preference"></div>
  </div>
  <div class="time-schedule"></div>
