<div class="container m-3">
  <h1>Your Preferences</h1>

  <ul>
    <% current_user.preferences.each do |preference| %>
      <li>
        <%= link_to preference.name, preference_path(preference) %>
      </li>
    <% end %>
  </ul>
  <div>
    <%= link_to "New Preference", new_preference_path, class: "btn btn-primary"  %>
    <%= link_to "Back to dashboard", user_root_path, class: "btn btn-secondary mr-3 my-3" %>
  </div>
</div>



