<div class="container m-3">
  <h1>Your Preferences</h1>

  <% @preferences.each do |preference| %>
    <ul>
      <li><%= link_to preference.name, preference_path(preference) %></li>
    </ul>
  <% end %>

  <br>

  <%= link_to "Create new preference set", new_preference_path %>
</div>
