<h1>New Preference Preset</h1>

<div class="container">
  <form action="/preferences" method="post" accept-charset="UTF-8" id="new_preferences">
    <div class="mb-3">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <!-- name: input -->
      <label for="name" class="form-label">Preset Name</label>
      <input name="name" type="text" class="form-control" id="name" placeholder="Try-hard, hungover, etc..">

      <br>

      <!-- unit: radio -->
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="unitOptions" id="feet" value="ft">
        <label class="form-check-label" for="feet">ft</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="unitOptions" id="meters" value="m">
        <label class="form-check-label" for="meters">m</label>
      </div>
      <br>

      <!-- swell_hgt_min: range -->
      <label for="swell_hgt_min" class="form-label">Swell Height: Min</label>
      <input name="swell_hgt_min" type="range" class="form-range" min="0" max="20" step="0.5" id="swell_hgt_min">
      <br>
      <!-- swell_hgt_max: range -->
      <label for="swell_hgt_max" class="form-label">Swell Height: Max</label>
      <input type="range" class="form-range" min="0" max="20" step="0.5" id="swell_hgt_max">

      <br>

      <!-- swell_int_min: range -->
      <label for="swell_int_min" class="form-label">Swell Interval: Min</label>
      <input type="range" class="form-range" min="0" max="20" step="0.5" id="swell_int_min">
      <br>
      <!-- swell_int_max: range -->
      <label for="swell_int_max" class="form-label">Swell Interval: Max</label>
      <input type="range" class="form-range" min="0" max="20" step="0.5" id="swell_int_max">

      <br>

      <!-- swell_dir_min: range -->
      <label for="swell_dir_min" class="form-label">Swell Direction: Min</label>
      <input type="range" class="form-range" min="0" max="360" step="5" id="swell_dir_min">
      <br>
      <!-- swell_dir_max: range -->
      <label for="swell_dir_max" class="form-label">Swell Direction: Max</label>
      <input type="range" class="form-range" min="0" max="360" step="5" id="swell_dir_max">

      <br>

      <!-- wind_str_min: range -->
      <label for="wind_str_min" class="form-label">Wind Strength: Min</label>
      <input type="range" class="form-range" min="0" max="30" step="0.5" id="wind_str_min">
      <br>
      <!-- wind_str_max: range -->
      <label for="wind_str_max" class="form-label">Wind Strength: Max</label>
      <input type="range" class="form-range" min="0" max="30" step="0.5" id="wind_str_max">

      <br>

      <!-- wind_dir_min: range -->
      <label for="wind_dir_min" class="form-label">Wind Direction: Min</label>
      <input type="range" class="form-range" min="0" max="360" step="5" id="wind_dir_min">
      <br>
      <!-- wind_dir_max: range -->
      <label for="wind_dir_max" class="form-label">Wind Direction: Max</label>
      <input type="range" class="form-range" min="0" max="360" step="5" id="wind_dir_max">

      <br>

      <!-- tide_position: radio -->
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tideOptions" id="low" value="low">
        <label class="form-check-label" for="low">Low</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tideOptions" id="mid" value="mid">
        <label class="form-check-label" for="mid">Mid</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tideOptions" id="high" value="high">
        <label class="form-check-label" for="high">High</label>
      </div>
      <br>

      <!-- tide_range: range -->
      <label for="tide_range" class="form-label">Tide Range</label>
      <input type="range" class="form-range" min="1" max="12" step="1" id="tide_range">
      <br>

      <!-- submit button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<div class="container">
  <%= simple_form_for @preference do |form| %>
    <%= form.input :swell_hgt_min, as: :slider, min: 0, max: 10, step: 2, range: true, ticks: [0, 5, 10] %>
  <% end %>
</div>
