<div class="container my-3 p-3">
  <div class="card">
    <h1><%#= @preference.name %></h1>

    <%= render 'form', preference: @preference %>

    <br>

    <%= link_to "Delete Preference", preference_path(@preference), method: :delete, class: "btn btn-danger" %>
    <%= link_to "Back to preferences", preferences_path, class: "btn btn-secondary" %>
  </div>
</div>
