<div class="weekly-schedule">
  <% @result.days.each do |day| %>
    <div class="day">
      <h2><%= day.date.strftime("%A") %></h2>
      <h3><%= day.date.strftime("%B %e") %></h3>
      <a href="#" class="btn btn-<%= day.any_go? ? 'success' : 'danger' %>"></a>
    </div>
  <% end %>
</div>

<div class="bottom-block">

  <div class="current-day"></div>
  <div class="preferences-overview">
  <h4>Preference</h4>
    <div class="preference"></div>
    <div class="preference"></div>
    <div class="preference"></div>
  </div>
  <div class="time-schedule"></div>

</div>
