<h1>GO week view</h1>

<div class="container">
  <div class="row justify-content-center">
    <% 6.times do |i| %>
      <p> <%= (Date.today + i).strftime("%A, %b %d") %> </p>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <!-- potentially javascript to add active class to Go days here -->
    <% @go_array.each do |hour_slot| %>
      <p> <%= hour_slot == false ? '[ ]' : '[ GO ]' %> </p>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% go_week_array = [[false, true, true, false], [true, true, false ,false]] %>

    <% go_week_array.each do |day| %>
      <%= day %>
      <br>
    <% end %>
  </div>
</div>



