<h1>GO week view</h1>

<div class="container">
  <div class="row justify-content-center">
    <% 6.times do |i| %>
      <p> <%= (Date.today + i).strftime("%A, %b %d") %> </p>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% @go_array.each_with_index do |day, idx| %>
      <%= (Date.today + idx).strftime("%A, %b %d") %>
      <%= day %>
      <br>
    <% end %>
  </div>
</div>

<%= link_to "Preferences", preferences_path  %>



