<div class="dashboard m-1">

  <%# Render the dashboard's top-bubble %>
  <%= render 'shared/top_bubble' %>

  <%# Render the dashboard's middle dropdowns-buttons %>
  <%= render 'shared/middle_dropdowns-buttons' %>

  <%# Render the week schedule %>
  <%= render 'shared/weekly_schedule' %>

  <%# Render the bottom block containing the surf data %>
  <%= render 'shared/bottom_block' %>

</div>
