<div class="container m-3">
  <h1>Dashboard</h1>
  <h2><%= link_to "My preferences:", preferences_path, class: "text-decoration-none" %></h2>
  <ul>
    <% current_user.preferences.each do |preference|%>
    <li><%= preference.name %></li>
    <% end %>
  </ul>
  <% @user_spots.each do |user_spot| %>
    <h2><%= user_spot.spot.name %></h2>
    <%= link_to "go?", result_condition_path(Condition.find_by(spot: user_spot.spot), preference_id: current_user.preferences.last.id)  %>
  <% end %>
</div>
