#navbar {
  width: 14%;
  height: 100%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgba(38,160,176,0.85), rgba(51,174,191,0.21));
}

#navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: max-content;
  height: 100%;
  text-align: center;
}

#logo {
  width: 120px;
  // margin-top: 20px;
}

#user-info {
  // margin-top: 100px;
}

#user-image {
  width: 80px;
  border-radius: 25%;
}

#dashboard {
  // margin-top: 150px;
}

#logout {
margin-bottom: 20px
}

#username {
  color: white;
  padding-top: 10px;
}
