.nav-button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button > a {
  text-decoration: none;
  color: white;
  margin: auto 0;
}

.dark {
  background-image: linear-gradient(135deg, rgba(2, 21, 43, 0.6976),rgba(2, 21, 43, 0.3273));
}

.light {
  background-image: linear-gradient(90deg, rgba(53, 176, 193, 0.3581),rgba(58, 182, 198, 0.1977));
}